################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin/
/.vs/KindergartenData/v15/Server/sqlite3
/.vs/KindergartenData/v15/.suo
*/obj/
